.site-menu {

  #c-menu {
    display: none;
  }

  .category-menu {
    padding: 0;
    .class-menu {
      margin: 0;
      line-height: 60px;
      background: #ed8c41;
      color: #fff;
      font-size: 16px;


      label {
        margin: 0;
        &:hover {
          cursor: pointer;
        }
      }
      i {
        display: inline-block;
        margin-left: 20px;
        margin-right: 5px;
      }
    }
    .category-list {
      display: none;
      width: 100%;
      padding: 0;
      position: absolute;
      z-index: 2;
      .category-item {
        width: 100%;
        position: relative;
        display: block;
        padding-left: 10px;
        background: #e25423;
        border-bottom: 1px solid #ed8c41;



        h2 {
          margin: 0;
          line-height: 30px;
          font-size: 16px;
          a {
            color: #fff;
          }
          span {
            color: #fff;
          }
          .fr {
            float: right;
            margin-right: 14px;
            font-size: 15px;
            line-height: 30px;
          }
        }

        ul {
          overflow: hidden;
          margin: 0;
          padding: 0;

          li {
            line-height: 30px;
            font-size: 14px;
            float: left;
            margin: 0 5px;

            a {
              color: #fff;
            }
          }
        }
        .second {
          display: none;
          position: absolute;
          top: 0;
          right: -350px;
          width: 350px;
          background: #fff;
          z-index: 2;
          border: 3px solid #E25423;

          dl {
            overflow: hidden;
            margin: 0;

            dt {
              float: left;
              width: 100px;
              line-height: 25px;
              font-weight: bold;
              a {
                color: #000;
              }
            }

            dd {
              a {
                display: inline;
                float: left;
                padding: 0 10px;
                line-height: 25px;
              }
            }
          }
        }
        &:hover {
          .second {
            display: block;
          }
        }
      }
    }
  }

  #c-menu:checked~.category-list {
      display: block;
  }

  .nav-tab {
    display: block;
    height: 60px;
    padding-left: 0;

    ul {
      float: left;
      width: 100%;
      margin-bottom: 0;
      padding: 0;
      background: #eeeff0;

      li {
        position: relative;
        list-style: none;
        float: left;

        a {
          display: block;
          padding: 0 15px;
          line-height: 60px;
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
