<section class="job-header">
  <div class="container">


    <div class="header-content clearfix">

      <div class="job-img">

        <%= image_tag "qu.jpg", class: "img-responsive" %>
        <div class="tags">
        </div>
      </div>


      <div class="job-info">
        <h2 class="title"><%= @job.name %></h2>
        <div class="subtitle"></div>
        <div class="metas">
          <div class="score">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <span>(0人)</span>
          </div>



          <p class="discount-price">
            <label>价格</label>


            <span class="course-price-widget">

              <span class="price">
                免费               </span>


              </span>        </p>
            </div>


          </div>


          <div class="job-operation clearfix">
            <div class="student-num hidden-xs">
              <i class="fa fa-users"></i>1人
            </div>

            <ul class="job-data clearfix ">
              <li id="unfavorite-btn" data-toggle="tooltip" data-placement="top" data-original-title="取消收藏" data-url="/course/560/unfavorite" style="display:none;">
                <a href="javascript:;" class="color-primary">
                  <p><i class="es-icon es-icon-bookmark"></i></p>
                  <p>已收藏</p>
                </a>
              </li>

              <li id="favorite-btn" data-toggle="tooltip" data-placement="top" data-original-title="收藏课程" data-url="/course/560/favorite">
                <a href="javascript:;">
                  <p><i class="fa fa-bookmark"></i></p>
                  <p>收藏</p>
                </a>
              </li>

              <li>
                <span class="es-share top">
                  <a class="dropdown-toggle" href="" data-toggle="dropdown">
                    <p><i class="fa fa-share-alt"></i></p>
                    <p>分享</p>
                  </a>
                </span>
              </li>

            </ul>
            <div class="buy">
              该课程属于
              <a href="/classroom/2">测试班级</a>
              <br>
              请加入后再学习

            </div>
          </div>


        </div>
      </div>
    </section>
<section class="related-jobs">
  <div class="container">
    <div class="related-label hidden-xs hidden-sm">推荐岗位</div>
    <div class="recommend-jobs-slides">
      <div class="slide-item">
        <h3>1</h3>
      </div>
      <div class="slide-item">
        <h3>2</h3>
      </div>
      <div class="slide-item">
        <h3>3</h3>
      </div>
      <div class="slide-item">
        <h3>4</h3>
      </div>
      <div class="slide-item">
        <h3>5</h3>
      </div>
    </div>
  </div>
</section>
<div class="container job-wrapper">
  <div class="row">
    <div class="col-lg-9 col-md-8">
      <section class="job-content">
        <div class="nav-btn-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="/course/560">课程概览</a></li>
            <li role="presentation">
              <a href="/course/560/reviews/">评价</a>
            </li>
            <li role="presentation"><a href="/course/560/notes"> 笔记</a></li>
          </ul>
        </div>
      </section>
    </div>



    <div class="col-lg-3 col-md-4 job-sidebar">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
          </h3>
        </div>
        <div class="panel-body">
          <div class="media media-default">
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <ul class="user-avatar-list clearfix">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
