<footer class="site-footer">
  <div class="copyright">
    <div class="container">
      <div class="footer-links">
        <ul class="site-footer-links">
          <li><a href="/page/aboutus" target="_blank">关于我们</a></li>
          <li><a href="/page/contactus" target="_blank">联系我们</a></li>
        </ul>
      </div>
      Powered by <a href="http://www.leyikao.cn" target="_blank">上海益服科技集团 </a>
    </div>
  </div>
</footer>
