<div class="home-hero-slides">
  <div class="item">
    <%= image_tag "banner.jpg" %>
  </div>
  <div class="item">
    <%= image_tag "banner1.jpg" %>
  </div>
</div>
<div class="guarantee">
  <div class="container">
    <div class="pull-left">
      <h3>安心保障</h3>
      <p>上海自贸区人才行业协会旗下 淘帮忙平台<p>
    </div>
    <div class="pull-right">
      <p>累计招聘：
        <span class="stats">96,9399</span>
        入驻机构：
        <span class="stats">200</span>

        <button class="join-btn btn">
          <i class="fa fa-hand-o-right"></i>
          现在入驻
        </button>
      </div>
    </div>
  </div>
</div>
